
	/* STRIPES */
	.StripeGreyTexture{}
	.StripeBlueTexture{}
	.StripeLightBlueTexture{}
	.StripeGreenTexture{}
	.StripeRedTexture{}
	.StripePurpleTexture{}
/*
     FILE ARCHIVED ON 17:06:03 Nov 05, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:05:38 Nov 06, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 821.307
  LoadShardBlock: 504.825 (3)
  PetaboxLoader3.resolve: 70.232
  RedisCDXSource: 288.855
  CDXLines.iter: 21.455 (3)
  exclusion.robots: 0.318
  esindex: 0.012
  PetaboxLoader3.datanode: 1652.416 (4)
  exclusion.robots.policy: 0.303
  load_resource: 1256.349
*/